**/.git
**/.gitignore
**/.gitattributes
**/.vs
**/.vscode
**/.idea
**/bin
**/obj
**/Logs
**/*.user
**/node_modules
**/dist
**/.venv
**/__pycache__
**/*.pyc
.env
.env.*
!.env.example
**/.DS_Store
docs/
*.md
!README.md
