#root {
  width: 100vw; /* Full width of the viewport */
  height: 100vh; /* Full height of the viewport */
  padding: 2rem;
  text-align: center;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  box-sizing: border-box;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}









