#root {
  width: 100%;
  min-height: 100vh;
  text-align: center;
  background-color: #E2E7DB;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  color: #262B31;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Buttons */
.button-primary{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  color: white;
  background-color: #A68059;
  padding: 8px 12px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.25);
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: filter 0.2s ease;

  &:hover{
    filter: brightness(110%);
  }
}

.button-secondary{
  background: #CECECE;
  color: #262B31;
  padding: 8px 12px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.10);
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  transition: filter 0.2s ease;

  &:hover{
    filter: brightness(90%);
  }
}

.button-with-icon{
  padding: 4px 12px 4px 8px;
}



button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* button a {
  color: white;
  text-decoration: none;
} */

/* .App{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
} */
.content-wrapper{
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  margin-bottom: 32px;
}


